@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url('Background.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    /* Adiciona para centralizar o plano de fundo */
    padding: 0;
    /* Remove o padding padrão do corpo para evitar espaçamento extra */
    margin: 0;
    /* Remove a margem padrão do corpo para evitar espaçamento extra */
}

html,
body {
    height: 100%;
}

/* Navbar */
header {
    background-color: rgb(43, 43, 43);
    padding: 10px 0;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    max-width: 1200px;
}

.logo {
    margin-left: -100px;

}

.logo img {
    width: 150px;
    height: 100px;
    transition: all 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 20px;
    margin-bottom: -15px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #FF101D;
}

.icons {
    display: flex;
}

.icon {
    color: white;
    font-size: 24px;
    margin-left: 20px;
    text-decoration: none;
    transition: all 0.3s ease;

}

.icon:hover {
    color: #FF101D;
    transform: scale(1.2);
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        /* Altera a direção para empilhar os itens verticalmente */
        align-items: center;
        /* Alinha os itens ao centro */
    }

    .logo {
        margin-bottom: 20px;
        margin-right: -100px;
        /* Adiciona margem inferior para separar a logo dos links */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        /* Altera a direção dos links para empilhar verticalmente */
        text-align: center;
        /* Alinha os links ao centro */
        width: 100%;
        /* Define a largura total */
    }

    .nav-links li {
        margin: 15px 0;
        margin-right: 30px;
        /* Adiciona margem entre os links */
    }

    .burger {
        display: none;
        /* Exibe o ícone do hambúrguer */
    }

    .burger div {
        display: block;
        /* Exibe as linhas do ícone do hambúrguer verticalmente */
    }

    .nav-links.active {
        display: flex;
        /* Exibe os links quando o menu é aberto */
        flex-direction: column;
        /* Empilha os links verticalmente */
        position: static;
        /* Define a posição como estática para evitar o posicionamento absoluto */
    }
}

@media (max-width: 1024px) {
    .logo {
        margin-left: -100px;
    }

    .nav-links li a {
        margin-left: -10px;
        font-size: 15px;
    }

    .icons {
        margin-left: -30px;
    }
}

/* Navbar Fim */

/* Slides Bootstrap */

#carouselExampleIndicators {
    width: 1000px;
    height: 500px;
    padding-top: 10px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 2);
    margin: auto;
    /* Centralizar o slide horizontalmente */
}

@media (max-width: 1000px) {
    #carouselExampleIndicators {
        width: 90%;
        /* Reduzir a largura do slide para telas menores */
        height: auto;
        /* Permitir que a altura do slide seja ajustada automaticamente */
    }
}

/* Slides Fim */

/* Banner */
.banners {
    padding: 10px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner {
    position: relative;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 2);
    margin-right: 20px;
    /* Espaçamento entre os banners */
}

.banner img {
    width: 300px;
    /* Largura do banner */
    height: auto;
    /* Altura ajustada automaticamente */
    transition: filter 0.3s;
    /* Adiciona transição suave para o efeito de escurecimento */
}

.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor de sobreposição escura */
    opacity: 0;
    /* Inicialmente transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    /* Adiciona transição suave para o efeito de escurecimento */
}

.banner:hover .overlay {
    opacity: 1;
    /* Torna a sobreposição visível ao passar o mouse */
}

.ler-mais {
    color: white;
    text-decoration: none;
    background-color: #ff101c00;
    /* Cor de fundo do botão */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    /* Adiciona transição suave para a cor de fundo do botão */
}

.ler-mais:hover {
    background-color: rgba(255, 255, 255, 0.281);
    /* Altera a cor de fundo do botão ao passar o mouse */
}

/* Fim Banner */

/* Media query para telas menores, como celulares */
@media (max-width: 768px) {
    .banner {
        display: none;
    }
}


/* Fim Banner */

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.footer-container div {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-about h3,
.footer-contact h3,
.footer-social h3 {
    margin-bottom: 10px;
}

.footer-contact p,
.footer-social a {
    margin: 5px 0;
}

.footer-social a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.footer-social a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #444;
    margin-top: 20px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-container div {
        margin: 10px 0;
    }
}

/* Fim Rodapé */

.feedback-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Feedback Card */
.feedback-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.feedback-card:hover {
    transform: translateY(-10px);
}

/* Profile Section */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.profile h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Stars Section */
.stars {
    color: #FFD700;
    /* Cor amarela para as estrelas */
    margin-bottom: 15px;
}

.stars .fa-star .stars .fa-star-half-alt {
    font-size: 20px;
}

/* Review Section */
.review {
    font-size: 16px;
    color: #333;
}

/* Registro */
.container1 {
    display: flex;
    margin: 100px auto;
    width: 1000px;
    max-width: 400px;
}

.container1 h2 {
    color: white;
}

.registration-form {
    background-color: #0000007e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff3737;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ffd35b;
}

/* Fim do registro */


/* Produtos */
.product-cards {
    font-family: "Roboto Mono", monospace;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: rgba(0, 0, 0, 0.1);
    /* Fundo transparente */
    border: 1px solid rgb(255, 255, 255);
    /* Bordas transparentes */
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
    /* Efeito de desfoque no fundo */
    transition: transform 0.3s;
    position: relative;
    height: 400px;
}

.product-card img {
    padding: 10px 18px 5px 18px;
    width: 300px;
    height: auto;
    border-radius: 50px;
    /* Bordas arredondadas no topo da imagem */
    transition: filter 0.3s;
}

.product-card .card-content {
    padding: 20px;
    color: white;
    /* Texto em branco */
}

.product-card h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.buy-btn {
    padding-bottom: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #00000000;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #ff00002f;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* Media query para telas menores, como celulares */
@media (max-width: 768px) {
    .product-card {
        width: calc(100% - 40px);
        /* Calcula a largura para ocupar toda a largura da tela, com espaçamento */
        margin: 20px auto;
        padding-top: 20px;
        /* Espaçamento entre os banners e centralização */
    }
}

/* Fim Produtos */

/* inicio fale conosco */
main {
    padding: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

/* fim fale conosco */

/* Sobre a Empresa */
.about-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1500px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    transition: all 0.5s;
}

.about-image img:hover {
    transform: scale(1.2);
}

.about-content {
    flex: 2;
    padding: 40px;
}

.about-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.about-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.paginapinto {
    padding: 40px;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .paginapinto {
        padding: 10px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image,
    .about-content {
        padding: 20px;
    }

    .about-image img {
        max-width: 200px;
    }
}

/* Fim Sobre a empresa */

/* começo cardápio */

.pedidopinto{
    padding-top: 50px;
    padding-bottom: 50px;
}

.pedido-container {
    color: rgb(0, 0, 0);
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pedido-title {
    text-align: center;
    margin-bottom: 20px;
}

.pedido-label {
    display: block;
    margin-bottom: 8px;
}

.pedido-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pedido-total {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.pedido-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pedido-button:hover {
    background-color: #0056b3;
}

.pedido-options {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .pedidopinto{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pedido-container {
        padding: 15px;
    }

    .pedido-title {
        font-size: 1.5rem;
    }

    .pedido-label {
        font-size: 0.9rem;
    }

    .pedido-total {
        font-size: 1rem;
    }

    .pedido-button {
        font-size: 1rem;
    }
}

.pedido-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.pedido-table th, .pedido-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.pedido-table th {
    background-color: #f2f2f2;
}

/* fim cardápio */